

p{
    text-shadow:10px 7px 2px royalblue;
}
body{
    background-color: bisque;
}
#uu{
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: rgb(208, 180, 235);
    overflow: auto;
    box-shadow:10px 10px 20px 10px greenyellow inset;
}
.ferst{
 
    background-color: rgb(75, 0, 145);
    overflow:auto;
    display:hiddn ; = تحذف النص مع موقعه 
    visibility:hidden;   = تحذف النص وتترك فراغ مكانه
    opacity: 0.7;       = تحدد الشفافية
}
.second{
 
    background-color: rgb(0, 217, 255);
    overflow: auto;
}
a{
    h

}
ul{
   

} 
 

